
.navbar-wpbutton {
  height: 40px;
  width: 120px;
  left: 0px;
  top: 0px;
  border-radius: 60px;
  padding: 12px, 22px, 12px, 22px;
  background: #34c759;
  border: #34c759;
}

.navbar-callbutton {
  height: 40px;
  width: 120px;
  left: 0px;
  top: 0px;
  border-radius: 60px;
  padding: 12px, 22px, 12px, 22px;
  background: #8b00a8;
  border: #8b00a8;
}

@media (max-width: 600px) {
 .navbar-header {
    padding: 20px 16px 16px;
    height: 61px;
    left: 0px;
    background: #ffffff;
    display:flex;
    justify-content: center !important;
  }

  img {
    position: static;
    width: 227px;
    height: 39.14px;
    left: 56px;
    top: 5.93px;
  }
  

  .display-none {
    display: none;
  }
}
